body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 96vw;
    height: 96vh;
    background: purple;
    display : flex;
    flex-direction: column;

}

.btn{
    color: purple;
    background: pink;
    border: 0;
    padding: 1rem;
    border-radius: .5rem;
}

.rows{
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.cells{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    flex: 1;
}